<div id="header">
	<table width="100%">
		<tr>
			<td class="logo">
				<% logopic = image_tag("logo.png", :alt => "Bark!Best") %>
				<%= link_to logopic, root_path %>
			</td>
			<td class="login">
				<% if signed_in? %>
				<div class="login_link" ><%= link_to "Logout", logout_path %></div>
				<div class="login_link" ><%= link_to "Profile", current_user %></div>
				<% else %>
				<div class="login_link" ><%= link_to "Register", register_path %></div>
				<div class="login_link" ><%= link_to "Login", login_path %></div>
				<% end %>
			</td>
		</tr>
	</table>
</div>