<!DOCTYPE html>
<html>
	<head>
		<title><%= @title %></title>
		<%= csrf_meta_tag %>
		<%= render 'layouts/stylesheets' %>
	</head> 
	<body>
	<div id="wrapper">
		<%= render 'layouts/header' %>
		<div id="below_header">
			<ul class="tabs group">
				<li><%= link_to "Sniff", root_path, :onClick => "window.open('/','_self')"%></li>
				<li class="active;"><%= link_to "Bark!", '/bark', :onClick => "window.open('/bark','_self')" %></li>
				<li><%= link_to "Bite", '#' %></li>
			</ul>
			<div id="detail_central_container" class="central_container">
				<%= yield %>
			</div>
		</div>
		<br><br><br><br>
		<%= render 'layouts/footer' %>
	</div>
</html>
